.sun1 {
  background-color: aquamarine;
  border: 10px solid gold;
  border-radius: 8px 50px;
  margin: 20px 200px;
  padding: 20px;
  box-shadow: 10px 15px 15px hsl(51, 60%, 32%);
}

.title {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 30px;
  color: goldenrod;
}

.p {
  text-align: justify;
}

header {
  height: 200px;
  background-image: url('Images/flowers-276014_1280.jpg');
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  font-size: 50px;
  border-radius: 10px;
  margin-top: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  text-decoration: underline dashed rgb(210, 223, 210);
  background-color: greenyellow;
  background-blend-mode: multiply;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: aliceblue;
}

small {
  color: red;
}
